.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 2rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
  padding-bottom: 48px;
}